<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="_2015_08_17_Easy" value="false"/>
    <add key="_2015_11_02_Easy" value="false"/>
    <add key="_2015_10_26_Easy" value="true"/>
  </appSettings>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
</configuration>